/* --------------- Milestone #4 --------------- */

/* ----------- LAYOUT ----------- */
/* Main wrapper */
.main-wrapper {
  width: 100%;
}


/* ----------- HEADER ----------- */
/* Header */
header {
  width: 100%;
}
/* Navbar */
nav {
  width: 100%;
  height: 150px;
  margin: auto;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black; 
  z-index: 1;
}


/* Logo */
nav .logo {
  width: 300px;
}


/* Searchbar */
.search-bar {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: white;
}
.search-inputbox {
  height: 100%;
  width: 300px;
  border: 0;
  padding: 10px;
  font-size: 17px;
}
.search-btn {
  height: 100%;
  width: 85px;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  font-size: 16px;
  font-weight: 700;
  background-color: #e50914;
}
.search-btn:hover {
  cursor: pointer;
}


/* ----------- MAIN ----------- */
main {
  width: 100%;
  padding-top: 170px;
  /* height: 1125px; */
  background-color: #3b3b3b;
  /* background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/bg-boolflix.jpg');  */
}

#cards-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: turquoise;  /* debug */
}

.card {
  width: 220px;
  height: 325px;
  margin-bottom: 15px;
  position: relative;
}

.cover-img {
  width: 100%;
  height: 100%;
}

#card-info {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.flag-img {
  width: 30px;
  height: 30px;
} 









































/* --------------- Milestone #1 - Layout Base --------------- */
/* .cover-img {
  width: 200px;
}
.title {
  font-weight: bold;
}
.flag-img {
  width: 30px;
  height: 30px;
} */



/* ----------------- CSS General Style Rules ----------------- */
/* GENERAL RULES (reset) - start */
general rules {}
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
  }
  body div, span, ul, a {
    font-family: 'Open Sans', sans-serif;
  }

  img {
    width: 100%;
  }
/* GENERAL RULES (reset) - end */



/* CLASS PROPERTIES - start rules */
class_properties {}
  .float {
    float: left;
  }
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
  .transform {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .text-bold {
    font-weight: 700;
  }
  ul.list-unstyled {
    padding-left: 0;
    }
    ul.list-unstyled li {
      /* display: inline-block; */
      list-style: none;
    }
    ul.list-unstyled li a {
      text-decoration: none;
    }
/* CLASS PROPERTIES - end rules */



/* MEDIA QUERY -start rules */
@media query {}
  /* Media Query - xs  */
  @media all and (max-width: 767px) {}

  /* Media Query - sm  */
  @media all and (min-width: 768px) and (max-width: 991px) {}

  /* Media Query - md  */
  @media all and (min-width: 992px) and (max-width: 1199px) {}

  /* Media Query - lg  */
  @media all and (min-width: 1200px) {}
/* MEDIA QUERY -end rules */
